---
import Container from "../ui/Container.astro";
import NavSocialMedia from "./NavSocialMedia.astro";

const navItems = [
  { label: "Frontend", href: "/frontend" },
  { label: "RPA", href: "/rpa" },
  { label: "Landing", href: "/landing" },
  { label: "Contacto", href: "/contact" },
] as const;
---

<header
  class="border-b border-(--color-border) bg-(--color-background)/80 backdrop-blur"
>
  <Container class="flex h-16 items-center justify-between">
    <a href="/" class="text-sm font-semibold tracking-wide"> Ezequiel Lopez </a>

    <nav aria-label="Navegación principal">
      <ul class="flex items-center gap-6 text-sm text-(--color-muted)">
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="text-sm font-medium transition hover:text-(--color-primary-hover)"
              >
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <NavSocialMedia />
  </Container>
</header>
