---
import Container from "../ui/Container.astro";
import NavSocialMedia from "./NavSocialMedia.astro";

const currentYear = new Date().getFullYear();
---

<footer class="border-t border-(--color-border)">
  <Container
    class="py-6 text-sm text-(--color-muted) md:flex justify-between items-center"
  >
    <p>
      &copy; {currentYear} Ezequiel Lopez. Construido con Astro, TypeScript y Tailwind
      CSS.
    </p>
    <NavSocialMedia />
  </Container>
</footer>
