---
import { Icon } from "astro-icon/components";

const socialMediaItems = [
  { icon: "social-media/linkedin", href: "/" },
  { icon: "social-media/github", href: "https://github.com/EzequielL99" },
] as const;
---

<nav class="hidden items-center gap-3 md:flex" aria-label="Redes sociales">
  {
    socialMediaItems.map((item) => (
      <a class="cursor-pointer transition text-(--color-muted) hover:text-(--color-primary-hover)">
        <Icon name={item.icon} class="w-6 h-6" />
      </a>
    ))
  }
</nav>
