---
import Container from "../components/ui/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Landing Page | Astro Portfolio Lab"
  description="Landing page profesional creada con Astro, TypeScript, Tailwind CSS y buenas prácticas SEO."
>
  <section class="py-24">
    <Container>
      <h1 class="text-4xl font-bold text-slate-50">Landing Page</h1>
      <p class="mt-4 max-w-2xl text-slate-300">
        Acá construiremos una landing profesional optimizada para conversión,
        SEO y performance.
      </p>
    </Container>
  </section>
</BaseLayout>
